/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    font-family:helvetica, arial, sans-serif;

}


a {
  color:#fff;
  text-decoration: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*===== Simple Token Standings ======*/

/*credit: https://www.behance.net/gallery/58852705/Flat-Space-Background-Free-JPG-PSD*/


body {
  background:#3A3E95 url('../img/flat-space-background.jpg') no-repeat top center;
  background-size:100%;
}
header {
  padding:6em 1em;
}

header .logo {
  width:33px;
  margin:0 auto;
}

header, footer {
  text-align:center;
  color:#fff;
  font-family:helvetica, arial, sans-serif;
}
header h1 {
  letter-spacing:2px;
  font-weight:800;
  text-shadow:0 3px 8px rgba(0,0,0,0.3);
  margin:0.25em 0 0;
}
header p {
  letter-spacing: 3px;
  font-weight:400;
  text-shadow:0 2px 15px rgba(0,0,0,0.9);
  margin:0.25em 0 .5em;
}

header a {
  color:#62BC70;
  font-family:georgia, serif;
  letter-spacing:1px;
  text-decoration: none;
  font-style:italic;
}

header a:hover {
  text-decoration: underline;
}

#podium {
  display:flex;
  min-height:50vh;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

#podium .podium-rank {
  flex:1;
  text-align:center;
  min-height:240px;
}

#podium .position-1 {
  order:2;
}
#podium .position-2 {
  order:1;
}
#podium .position-3 {
  order:3;
}

#podium .position-1 .position {
  font-size:50px;
  margin:0.1em 0 0;
}

#podium .position-2 .position {
  font-size:40px;
  margin:0.05em 0 0;
}

#podium .position-3 .position {
  font-size:30px;
  margin:0.2em 0 0;
}

#podium .podium-rank h4 {
  margin:.5em 0 0;
  text-shadow:0 2px 3px rgba(0,0,0,0.5);
  letter-spacing:1px;
}

#podium .podium-rank h4 a, #podium .podium-rank h4 a:hover, #podium .podium-rank h4 a:visited, #podium .podium-rank h4 a:focus {
  color:#fff;
  text-decoration: none;
}
#podium .podium-rank h5 {
  margin:.5em 0;
  text-shadow:0 2px 3px rgba(0,0,0,0.5);
  letter-spacing:1px;
}

#podium .podium-rank .medal {
  text-align:left;
  flex:none;
}

#podium .position {
  text-align:center;
}

#podium .symbol {
  background:#fff;
  border-radius:3px;
  padding:.2em .5em;
  margin:0;
  color:#3B4193;
  display:inline-block;
  font-size:13px;
  text-shadow:none;
  letter-spacing:2px;
  text-transform: uppercase;
}

#rankings .rank {
  display:flex;
}

#rankings .rank * {
  flex:1;
}

#rankings .rank h4 {
  padding:1em 1.5em;
}
#rankings .rank a, #rankings .rank a:hover, #rankings .rank a:focus, #rankings .rank a:visited {
  color:#fff;
  text-decoration: none;
}
#rankings .rank .symbol {
  background:#fff;
  border-radius:3px;
  padding:.2em .5em;
  margin:0;
  color:#3B4193;
  display:inline-block;
  font-size:13px;
  text-shadow:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

#rankings .rank .position span {
  border:1px solid #fff;
  border-radius:50%;
  padding:0;
  width:38px;
  height:38px;
  text-align:center;
  display:inline-block;
  line-height:2;
}

@media (max-width: 768px) { 
  #podium {
    min-height:0;
  }
}

@media (max-width: 600px) {
  header {
    padding-top:190px;
  }
  #podium, #rankings .rank {
    display: block;
    text-align:center;
  }
  #rankings {
    text-align:center;
  }
  #podium .position-1 {
    order:1;
  }
  #podium .position-2 {
    order:2;
  }
  #podium .position-3 {
    order:3;
  }
}


#rankings {
  padding:1em; 
  margin-bottom:2em;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}
#rankings .rank {
  padding:1em;
}
#rankings .rank:nth-child(odd) {
  background:rgba(0,0,0,0.1);
}
#rankings .rank:nth-child(even) {
  background:rgba(0,0,0,0.05);
}

footer {
  padding:2em 1em;
}
footer a {
  color:#fff;
  display:block;
  font-size:13px;
  margin:0 0 0.25em;

}

footer .badger-button {
  background:#F59331;
  color:#fff;
  border-radius:5px;
  padding:0.5em 1em;
  border:0;
  margin-bottom:0.5em;
  font-size:15px;
  cursor:pointer;
}

footer .badger-button:hover, footer .badger-button:focus {
  background:#FF8007;
}


/*===== MEDALS =====*/
/*credit: https://codepen.io/Mobilpadde/pen/jakfi*/


.rank-1 .medal {
  float: none;
  margin: 80px auto 0;
  width: 80px;
  height: 80px;
  background: #fdb23b linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}
.rank-1 .medal:before {
  content: "";
  width: 30px;
  height: 94px;
  background: #8d457f;
  transform: rotate(15deg);
  position: absolute;
  top: -90px;
  left: 42px;
  z-index: -1;
}
.rank-1 .medal:after {
  content: "";
  width: 30px;
  height: 94px;
  background: #ad589d;
  transform: rotate(-15deg);
  position: absolute;
  top: -90px;
  z-index: -1;
  left:5px;
}

.rank-2 .medal {
  float: none;
  margin: 15px auto;
  width: 60px;
  height: 60px;
  background: #b9b7b5 linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
  border: 1.66667px solid #fff;
  border-radius: 50%;
  position: relative;
}
.rank-2 .medal:before {
  content: "";
  width: 20px;
  height: 55px;
  background: #654395;
  transform: rotate(15deg);
  position: absolute;
  top: -53px;
  left: 33px;
  z-index: -1;
}
.rank-2 .medal:after {
  content: "";
  width: 20px;
  height: 55px;
  background: #7e57b4;
  transform: rotate(-15deg);
  position: absolute;
  top: -53px;
  left:5px;
  z-index: -1;
}

.rank-3 .medal {
  float: none;
  margin: 30px auto;
  width: 50px;
  height: 50px;
  background: #d78c36 linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
  border: 1.33333px solid #fff;
  border-radius: 50%;
  position: relative;
}
.rank-3 .medal:before {
  content: "";
  width: 15px;
  height: 43px;
  background: #434f95;
  transform: rotate(15deg);
  position: absolute;
  top: -40px;
  left: 22px;
  z-index: -1;
}
.rank-3 .medal:after {
  content: "";
  width: 15px;
  height: 43px;
  background: #5765b4;
  transform: rotate(-15deg);
  position: absolute;
  top: -40px;
  left:5px;
  z-index: -1;
}




